---
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++17

AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SortIncludes: true
InsertTrailingCommas: Wrapped
UseTab: false
